* {
    box-sizing: border-box;

}

body {

    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    text-align: center;
    font-family: "Some Time Later";
}

h1 {
    color: #fff;

}



h2 {
    color: rgb(244, 237, 237);
}

h3 {
    color: #fff;
    text-align: center;
}

section {
    padding-bottom: 3em;

}

article {

    width: 800;
    max-width: 75rem;
    margin: 0 6px 20px;
    position: relative;
    border: 1px solid rgb(13, 1, 1);

}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    position: relative;
    z-index: 0;
    transition: 1s;

}

ul li a img {
    display: block;
    width: 250px;
    height: auto;
}

ul li a {

    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .7);
    margin: 0 10px;
    padding: 10px 10px 25px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    display: inline-block;
}

ul li a:after {

    content: attr(tittle);
    color: #333;
    font-size: 1.25em;
    position: relative;
    top: 10px;
}

ul li:nth-child(4n+1) {
    transform: rotate(4deg);
}

ul li:nth-child(4n+3) {
    transform: rotate(4deg);
}

ul li:nth-child(5) {
    transform: rotate(-8deg);
}

ul li:nth-child(6) {
    transform: rotate(2deg);
}

ul li a:hover {
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, .8);
}

ul li:hover {
    transform: rotate(0deg) scale(1.25);
    z-index: 10;
}

footer {
    color: #fff;
}